
*{
    margin: 0;
    padding: 0;
}

hr{
    margin: 0px 20px;
}
nav{
    margin: 0;
    padding: 0;
    display: flex;
    background-color: rgb(155, 203, 248);
    align-items: center;
    justify-content: space-between;
}
nav img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
h2{
    font-family: "Grand Hotel", cursive;
    font-weight: 500;
    font-style: normal;
    font-size:40px;
    padding: 10px;
    margin-left: 10px;
}
.card{
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
    align-items: center;
    padding: 10px;
}
.item-details{
    animation: fade both;
    animation-duration: 0.8s both;
    animation-timeline: view();
    animation-range: entry 0% cover 70%;
}
@keyframes fade{
    from{
        margin-top:30px;
    }
    to{
        margin-top: 0;
    }
}
.item-details h3{
    font-family: poppins;
    font-size:large;
    font-weight: 500;
}
.item-details p{
    font-size: medium;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.card img{
    width: 20%;
    height: 20%;
    border-bottom-right-radius:20%;
    border-bottom-left-radius:20%;
    border-top-right-radius:20%;
    object-fit: contain;
    animation: imageLoad both;
    transition: ease-in-out;
    animation-duration: 1.5s;

}

@keyframes imageLoad{
    from{
        margin-right:-100px;
    }
    to{
        margin-right: 0;
    }
}
.back {
    position: relative;
    overflow: hidden;
}

.bg-blur {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("bg-img.jpg");
    background-size: contain;
    background-position: center;
    filter: blur(2px);
    opacity: 0.9;
    z-index: -1;
}

.fullscreen-nav{
    display: none;
    width: 100%;
    top: 0;
    position: fixed;
    overflow: hidden;
    background-color:transparent;
    backdrop-filter: blur(10px);
    z-index: 1000;
    animation: menufade 0.5s;
}
@keyframes menufade{
    from{
        margin-left:90vw;
    }
    to{
        margin-left: 0;
    }
}
.fullscreen-nav span{
   position: absolute;
    top: 20px;
    right: 25px;
    font-size: 40px;
    cursor: pointer;
}

ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    list-style: none;
    padding: 10px;
    width: 100vw;
    height: 100vh;
}
ul li{
    padding: 20px;
    text-align: center;
    width: 100%;
    font-size: large;
    font-family: poppins;
}
ul li:hover{
    background-color:white ;
}